/* Global Styles */

html{
    font-family: 'Open Sans', sans-serif !important;
}

body{
    padding-top: 56px;
}

@media (max-width:991.98px) {
   .nav-link {
      padding: 15px 5px;
   }
}

@media (max-width:767px){
   .nav-item{
       text-align:center;
   }
}


/* Full Page Image Header Area */

.header-bg{
    padding-top:20%;
    padding-bottom:70%;
    background-color:white;
    max-height: 750px;
    background-image: url(../img/splash.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.transparent-bg{
    background-color: rgba(255, 255, 255, 0.9);
    max-width:700px;
    padding: 2px 15px;
}

.content{
    padding: 5%;
}

.content-bg{
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto 600px;
    -o-background-size: auto 600px;
    -moz-background-size: auto 600px;
    -webkit-background-size: auto 600px;
    transition: opacity 0.3s ease;
}

.content-bg.content-bg8-end{
    height: 400px;
}

@supports (-webkit-touch-callout: inherit) {
  .content-bg {
    background-attachment: scroll;
  }
  .content-bg.content-bg8-end{
    visibility: hidden;
  }
}

.media-left{
    vertical-align:middle;
}
.media-body{
    vertical-align:middle;
}
.media-body p{
    margin-bottom: 0px;
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  line-height: 1.42;
  border-radius: 25px;
}
#toTop {
    text-align:center; 
    position:fixed;
    bottom:30px;
    right:30px;
    display:none;
    background-color:#BF4D28;
    border-color:#BF4D28;
    color: white;
}
#toTop:hover {
    background-color:orange;
    border-color:orange;
    color: white;
}
